<!DOCTYPE html>
<html lang="en">
	<!-- Head --> 
<head>
    {% if title %}
    <title>{{ title }} - TrackFI</title>
    {% else %}
    <title>Welcome to TrackFI</title>
    {% endif %}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<!-- Body --> 
<body>
	<nav class="navbar navbar-inverse">
		<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">TrackFi</a>
		</div>
			<ul class="nav navbar-nav">
			<li><a href="/home">Home</a></li>
			<li><a href="/accounts">Accounts</a></li>
			<li><a href="/transactions">Transactions</a></li> 
			</ul>
		</div>
	</nav>

<!-- Content --> 
	<div class="container">	
    {% block content %}{% endblock %}
	
<!-- Footer --> 
      <div id="footer">
        {% block footer %}
        &copy; 2016 TrackFI 
        {% endblock %}
      </div>
	  
	</div>
	
</body>
  
</html>