{% extends "base.html" %}
{% set active_page = "home" %}

<!-- Title -->
{% block title %}Home{% endblock %}

<!-- Content -->
{% block content %}
  <div class="jumbotron">
	<h2>Hi, {{ user.nickname }}!</h2>
	<p>
		Test paragraph --- It is possible to build a URL dynamically, by adding variable parts to the rule parameter. This variable part is marked as <variable-name>. It is passed as a keyword argument to the function with which the rule is associated.
	</p>
  </div>
  
	<p>
		Outside Jumbotrondddddddddddddddd--- It is possible to build a URL dynamically, by adding variable parts to the rule parameter. This variable part is marked as <variable-name>. It is passed as a keyword argument to the function with which the rule is associated.
	</p>
	<p>
		Test paragraph --- It is possible to build a URL dynamically, by adding variable parts to the rule parameter. This variable part is marked as variable-name. It is passed as a keyword argument to the function with which the rule is associated.
	</p>
<br>
<br>
<br>
<br>
<br>
<br>
		
{% endblock %}  